@font-face {
    font-family: Minecraft;
    src: url(fonts/Minecraft\ Rus\ NEW.otf);
}

body {
    font-family: 'Minecraft';
    margin: 0;
    padding: 0;
    background: url(/soso/sakura.gif);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-container {
    width: 320px;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}


.login-container h2 {
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}


form {
    display: flex;
    flex-direction: column;
}


label {
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}


input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    font-family: 'Minecraft';
    margin-top: 15px;
    background-color: rgb(36, 105, 30);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #fac7f6;  
}


@media (max-width: 400px) {
    .login-container {
        width: 90%;
    }
}
